/* default file located at /etc/xdg/waybar/style.css */





/* Values are in the order: top, right, bottom, left.
 * Additionally, values can be combined: 10px 20px means top and bottom are 10px while right and left are 20px.
 * Just 1 value means all values are the same */

/* padding is distance between the module text and module border */
/* margin is the distance between the other modules */





/* universal constants */
/*=====================*/
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: HackNerdFont, FontAwesome;
    font-weight: normal;
    font-size: 18px;
}





/* corner modules */
/*================*/

#temperature,
#temperature.critical
{
    padding: 0px 12px;
    margin: 4px 12px 0px 0px;
}

#workspaces
/* total padding is padding + (button padding * 2) */
{
    padding: 0px 4px;
    margin: 4px 2px 0px 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button,
#workspaces button:hover
{
    padding: 0px 4px;
    margin: 0px;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: inherit;
    text-shadow: inherit;
}





/* non-touching modules */
/*======================*/

#battery,
#battery.charging,
#battery.plugged,
#battery.warning:not(.charging):not(.plugged),
#battery.critical:not(.charging):not(.plugged),
#clock,
#custom-airplanemode,
#custom-vpnconnected,
#custom-vpndisconnected,
#keyboard-state > label.locked,
#scratchpad,
#tray
{
    padding: 0px 12px;
    margin: 4px 2px 0px 2px;
}





/* right touching modules */
/*========================*/

#pulseaudio,
#pulseaudio.muted
{
    padding: 0px 12px;
    margin: 4px 0px 0px 2px;
}





/* right + left touching modules */
/*===============================*/

#cpu,
#memory
{
    padding: 0px 12px;
    margin: 4px 0px 0px 0px;
}





/* rounded modules */
/*=================*/

#battery,
#battery.charging,
#battery.plugged,
#battery.warning:not(.charging):not(.plugged),
#battery.critical:not(.charging):not(.plugged),
#clock,
#custom-airplanemode,
#custom-vpnconnected,
#custom-vpndisconnected,
#keyboard-state > label.locked,
#scratchpad,
#tray,
#workspaces
{
    border-radius: 12px;
}

#pulseaudio,
#pulseaudio.muted
{
    border-radius: 12px 0px 0px 12px;
}

#temperature,
#temperature.critical
{
    border-radius: 0px 12px 12px 0px;
}





/* non-rounded modules */
/*=====================*/

#cpu,
#memory
{
    border-radius: 0px;
}





/* modules with black background color */
/*=====================================*/

#battery,
#battery.charging,
#battery.plugged,
#battery.warning:not(.charging),
#battery.critical:not(.charging),
#clock,
#cpu,
#custom-airplanemode,
#custom-vpnconnected,
#custom-vpndisconnected,
#keyboard-state > label.locked,
#memory,
#pulseaudio,
#pulseaudio.muted,
#scratchpad,
#temperature,
#temperature.critical,
#tray,
#workspaces
{
    background-color: rgba(0, 0, 0, 0.9);
}





/* modules with transparent background color */
/*===========================================*/

#waybar,
#workspaces button,
#workspaces button.focused,
#workspaces button.urgent
{
    background-color: rgba(0, 0, 0, 0);
}





/* modules colored white */
/*=======================*/

#battery,
#clock,
#cpu,
#memory,
#pulseaudio,
#pulseaudio.muted,
#scratchpad,
#tray,
#workspaces button
{
    color: #ffffff;
}





/* modules colored green */
/*=======================*/

#battery.charging,
#battery.plugged,
#custom-vpnconnected,
#temperature,
#workspaces button.focused
{
    color: #11b867;
}





/* modules colored red */
/*=====================*/

#battery.critical:not(.charging):not(.plugged),
#custom-airplanemode,
#custom-vpndisconnected,
#keyboard-state > label,
#temperature.critical,
#workspaces button.urgent
{
    color: #ff4444;
}





/* modules colored yellow */
/*========================*/

#battery.warning:not(.charging):not(.plugged)
{
    color: #dddd33;
}








#disk {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #964B00;
    color: #ffffff;
}


#backlight {
    padding: 0 10px;
    background-color: #90b1b1;
    color: #ffffff;
}


#network {
    padding: 0 10px;
    background-color: #2980b9;
    color: #ffffff;
}


#network.disconnected {
    padding: 0 10px;
    background-color: #f53c3c;
    color: #ffffff;
}



#custom-media {
        background-color: #66cc99;
        color: #2a5c45;
    min-width: 100px;
}


#custom-media.custom-spotify {
    background-color: #66cc99;
}


#custom-media.custom-vlc {
    background-color: #ffa000;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}


#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#idle_inhibitor {
    background-color: #2d3436;
}


#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}


#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}


#mpd.disconnected {
    background-color: #f53c3c;
}


#mpd.stopped {
    background-color: #90b1b1;
}


#mpd.paused {
    background-color: #51a37a;
}


#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
